@font-face {
    font-family: 'Alice in Wonderland';
    src: url('~/fonts/Alice_in_Wonderland_3.ttf') format("truetype");
}

@font-face {
    font-family: 'BodoniFLF Bold';
    src: url('~/fonts/BodoniFLF.bold.ttf') format("truetype");
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

.modal {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.button {
    margin: 0;
    text-align: left;
    padding-left: 3em;
    background-color: rgba(255, 255, 255, 0.9);
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.narrative {
    font-family: "BodoniFLF Bold";
}

.welcome {
    font-family: "BodoniFLF Bold";
    font-size: 1.6em;
    color: black;
}

.bg {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* The image used */
    background-image: url('~/seamless.png');
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
}

.button:before {
    content: url('~/button-alice.png');
}

.credits {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}