@font-face {
    font-family: 'Alice in Wonderland';
    src: url('./fonts/Alice_in_Wonderland_3.ttf') format("truetype");
}

.panel {
    background-color: rgba(255, 255, 255, 0.5);
}

.narrative {
    font-family: "Garamond-Regular";
}

.welcome {
    font-family: "Garamond-Regular";
    font-size: 1.6em;
    color: black;
}