/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Alice in Wonderland';
    src: url('./assets/fonts/alice/Alice_in_Wonderland_3.ttf') format("truetype");
}

.alice {
    font-family: "Alice in Wonderland";
    font-weight:300;
}

.blackdim {
    position:fixed;
    left: 0; right:0; top:0;
    height:100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    padding: 10px;
    background-color: white;
}

.ol-attribution {
    display: none;
}
.ol-control {
    display: none;
}

@media only screen and (min-width: 768px) {

    .ol-control {
        display: unset;
    }

}