@font-face {
    font-family: 'Alice in Wonderland';
    src: url('./assets/fonts/alice/Alice_in_Wonderland_3.ttf') format("truetype");
}

.alice {
    font-family: "Alice in Wonderland";
    font-weight:300;
}

.blackdim {
    position:fixed;
    left: 0; right:0; top:0;
    height:100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.gameOptions {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                linear-gradient(white, white);
    z-index:100;
    text-align: center;
    padding-top: 15%;
    position:fixed;
    left: 0; right:0; top:0;
    height:100%;
    overflow: auto;
}

.frame {
    width: 300px;
    height: 250px;
    border: 3px solid #ccc;
    background: white;
    margin: auto;
  }

.startdim {
    position:fixed;
    left: 0; right:0; top:0;
    height:100%;
    overflow: hidden;
    background: rgba(0, 0, 0);
}

.modal {
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.button {
    padding: 5px;
    margin: 5px;
    background-color: white;
    text-align: center;
}

.buttonStartGame {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 14px 40px;
    font-family: "Alice in Wonderland";
    box-shadow: 0 4px #999;
  }

  .buttonStartGame:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .buttonLink {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 125%;
  }

  .restartGame {
    background-color: #eb0808;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 135%;
    cursor: pointer;
    font-family: "Alice in Wonderland";
    margin: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px #cfcece;
    width: 250px;
  }

  .restartGame:hover {
    background-color: rgb(197, 5, 5);
    box-shadow: 5px 5px 5px #a7a6a6;
  }

  .restartGame:active {
    background-color: #910303;
    box-shadow: 5px 5px 5px #666;
    transform: translateY(4px);
  }

  .returnGame {
    background-color: #038514;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 135%;
    cursor: pointer;
    font-family: "Alice in Wonderland";
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px #cfcece;
    width: 250px;
  }

  .returnGame:hover {
    background-color: rgb(2, 87, 14);
    box-shadow: 5px 5px 5px #a7a6a6;
  }

  .returnGame:active {
    background-color: #03501c;
    box-shadow: 5px 5px 5px #666;
    transform: translateY(4px);
  }

.centralized {
    text-align: center;
    padding-top: 20%;
    position:fixed;
    left: 0; right:0; top:0;
    height:100%;
    overflow: auto;
  }

.ol-attribution {
    display: none;
}
.ol-control {
    display: none;
}

@media only screen and (min-width: 768px) {

    .ol-control {
        display: unset;
    }

}


/* popup.component.scss */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    text-align: center;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }

  .button-portamiqui {
    padding-top:15px
  }
  
  .button-gioca {
    padding-top:5px;
    margin-top: 15px;
  }

  .nearByMessage {
    margin-top: 20px;
  }

  .clickable{
    cursor: pointer;
  }

  .border{
    border: 1px solid #131212;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .inlineElements{
    display: flex;
    align-items: center;
  }

  .margin {
    margin-left: 20px;
  }