<ng-container *ngIf="!(shared.scenario)">
    Caricamento...
</ng-container>

<div *ngIf="shared.scenario">
    <app-inline-style></app-inline-style>
    
    <div *ngIf="svgFrame" app-svg-canvas [svgmap]="svgFrame"></div>
    <ng-container *ngIf="!(shared.play)">
        <div class="blackdim"></div>
        <div class="fullpage narrative" >
            <div class="modal" (click)="shared.startGame()">Inizia la partita!</div>
        </div>
    </ng-container>
    <ng-container *ngIf="shared.play">
        <router-outlet></router-outlet>
        <div app-buttons-overlay></div>
        <div app-face-challenge *ngIf="shared.play.challenge"></div>
        <div app-story-popup *ngIf="shared.currentStory"></div>
        <div app-option-popup *ngIf="!shared.currentStory && shared.options"></div>
    </ng-container>
</div>
<div app-rotate-screen></div>