<div id="popup" class="ol-popup">
    <a id="popup-closer" class="ol-popup-closer" (click)="clickCloseLocation()"></a>
    <div id="popup-content" *ngIf="currentFeature">
        <div>{{currentFeature.get('name')}}</div>
        <div class="button-portamiqui">
            <a *ngIf="currentFeature.get('id')" target="_blank" class="btn"
                href="https://www.google.com/maps/dir/{{position.coords.latitude}},{{position.coords.longitude}}/{{currentFeature.get('latitude')}},{{currentFeature.get('longitude')}}">
                portami qui
            </a>
        </div>

        <div class="button-gioca">
            <a *ngIf="currentFeature.get('id') && nearToPlay; else message"  href="" class="btn" (click)="clickGioca()">
                gioca
            </a>
        </div>
        <ng-template #message>non sei abbastanza vicino per giocare la tappa.</ng-template>
    </div>
</div>

