<div class="ol-popup">
    <a id="popup-closer" class="ol-popup-closer" (click)="clickCloseLocation()"></a>
    <div id="popup-content" *ngIf="location">
        <img class="border" width=60 src="{{location.name}}" title="{{location.description}}">
        <div class="inlineElements">
            <div>
                <a *ngIf="location.id" target="_blank"
                    href="https://www.google.com/maps/dir/{{position.coords.latitude}},{{position.coords.longitude}}/{{location.lat}},{{location.lon}}">
                    <img width=40 src="./assets/svg/bussola.svg" title="Portami qui" >
                </a>
            </div>

            <div class="clickable margin" *ngIf="location.id && nearToPlay(); else message" (click)="clickGioca()">
                <img width=40 src="./assets/svg/gamepad.svg" title="Gioca">
            </div>
        </div>
        <ng-template #message><ng-container *ngIf="location.id"><div class="margin"><img width=40 src="./assets/svg/gamepad.svg" title="non sei abbastanza vicino per giocare la tappa"></div></ng-container></ng-template>
        <ng-template #blank></ng-template>
    </div>
</div>

