@font-face {
    font-family: 'Alice in Wonderland';
    src: url('~/fonts/Alice_in_Wonderland_3.ttf') format("truetype");
}

@font-face {
    font-family: 'MomsDiner';
    src: url('~/fonts/MomsDiner.ttf') format("truetype");
}

@font-face {
    font-family: 'BodoniFLF Bold';
    src: url('~/fonts/BodoniFLF.bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Coming Soon';
    src: url('~/fonts/ComingSoon-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Belleza';
    src: url('~/fonts/Belleza-Regular.ttf') format("truetype");
}


h2 {
    text-transform: uppercase;
    text-align: center;
}

.modal {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.button {
    margin: 0;
    text-align: left;
    padding-left: 3em;
    background-color: rgba(255, 255, 255, 0.9);
}

.panel {
    margin-left: 50px;
    margin-right: 50px;
}

.narrative {
    font-family: "Belleza";
    font-size: 1.2em;
    color: #0277c1;
}

.welcome {
    font-family: "Belleza";
    font-size: 1.6em;
    color: #0277c1;
}

.bg {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* The image used */
    background-image: url('~/sfondo-sml.jpg');
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    color: black;
}
.button:before {
    content: url('~/button-act.png');
    margin-right: 5px;
}

.credits {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.privacy-policy {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}
.privacy-policy .button {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
}

.quiz-letterario .citazione {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-left: 10px solid #ccc;
}
.quiz-letterario .citazione:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
}
.quiz-letterario .citazione:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.6em;
}

.stregatto-parte {
    display: none;
}
.tag-stregatto-corpo .stregatto-corpo {
    display: inline;
}
.tag-stregatto-testa .stregatto-testa {
    display: inline;
}
.tag-stregatto-coda .stregatto-coda {
    display: inline;
}

.panel-menu-list svg {
    height: 50px;
    width: 50px;
}