@media screen and (orientation:landscape) {
    .myvideo {
        height: 100%;
        width: 100%;
    }
    .selfie {
        height: 100%;
        width: 100%;
    }
}

@media screen and (orientation:portrait) {
    .myvideo {
        height: 100%;
        width: 100%;
    }
    .selfie {
        height: 100%;
        width: 100%;
    }
}

.myphoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border: 1px solid red;
    img {
        width: 100%;
    }
}

.overpicture {
    position: absolute;
    display: none;
}

